
:root{--md-sys-color-background:#f8f9fd;--md-sys-color-on-background:#191c1f;--md-sys-color-surface:#f8f9fd;--md-sys-color-surface-dim:#d9dade;--md-sys-color-surface-bright:#f8f9fd;--md-sys-color-surface-container-lowest:#ffffff;--md-sys-color-surface-container-low:#f3f3f8;--md-sys-color-surface-container:#edeef2;--md-sys-color-surface-container-high:#e7e8ec;--md-sys-color-surface-container-highest:#e1e2e6;--md-sys-color-on-surface:#191c1f;--md-sys-color-surface-variant:#dde3ec;--md-sys-color-on-surface-variant:#41474f;--md-sys-color-inverse-surface:#2e3134;--md-sys-color-inverse-on-surface:#f0f0f5;--md-sys-color-outline:#727880;--md-sys-color-outline-variant:#c1c7d0;--md-sys-color-shadow:#000000;--md-sys-color-scrim:#000000;--md-sys-color-surface-tint:#296290;--md-sys-color-primary:#3d7fb6;--md-sys-color-on-primary:#ffffff;--md-sys-color-primary-container:#a7d2ff;--md-sys-color-on-primary-container:#003e65;--md-sys-color-inverse-primary:#98cbff;--md-sys-color-secondary:#4e6074;--md-sys-color-on-secondary:#ffffff;--md-sys-color-secondary-container:#d5e8ff;--md-sys-color-on-secondary-container:#3a4c5f;--md-sys-color-tertiary:#794e86;--md-sys-color-on-tertiary:#ffffff;--md-sys-color-tertiary-container:#efbbfb;--md-sys-color-on-tertiary-container:#522a5f;--md-sys-color-error:#ba1a1a;--md-sys-color-on-error:#ffffff;--md-sys-color-error-container:#ffdad6;--md-sys-color-on-error-container:#410002;
    --md-menu-item-one-line-container-height:1.2px;
    --md-menu-item-top-space:8px;
    --md-menu-item-bottom-space:8px;
}
.dark{--md-sys-color-background:#111417;--md-sys-color-on-background:#e1e2e6;--md-sys-color-surface:#111417;--md-sys-color-surface-dim:#111417;--md-sys-color-surface-bright:#37393d;--md-sys-color-surface-container-lowest:#0c0e11;--md-sys-color-surface-container-low:#191c1f;--md-sys-color-surface-container:#1d2023;--md-sys-color-surface-container-high:#282a2d;--md-sys-color-surface-container-highest:#333538;--md-sys-color-on-surface:#e1e2e6;--md-sys-color-surface-variant:#41474f;--md-sys-color-on-surface-variant:#dce3ef;--md-sys-color-inverse-surface:#e1e2e6;--md-sys-color-inverse-on-surface:#2e3134;--md-sys-color-outline:#8b919a;--md-sys-color-outline-variant:#41474f;--md-sys-color-shadow:#000000;--md-sys-color-scrim:#000000;--md-sys-color-surface-tint:#98cbff;--md-sys-color-primary:#deecff;--md-sys-color-on-primary:#003354;--md-sys-color-primary-container:#92c6f9;--md-sys-color-on-primary-container:#003557;--md-sys-color-inverse-primary:#296290;--md-sys-color-secondary:#b5c8df;--md-sys-color-on-secondary:#1f3244;--md-sys-color-secondary-container:#2c3e51;--md-sys-color-on-secondary-container:#bfd2e9;--md-sys-color-tertiary:#fde3ff;--md-sys-color-on-tertiary:#471f55;--md-sys-color-tertiary-container:#e3afef;--md-sys-color-on-tertiary-container:#492157;--md-sys-color-error:#ffb4ab;--md-sys-color-on-error:#690005;--md-sys-color-error-container:#532528;--md-sys-color-on-error-container:#ffdad6;}     
h2 {
    font-weight: 500;
    color: var(--md-sys-color-primary);
    padding-left: 10px;
    margin: 15px 0 15px;
    border-bottom: 2px solid var(--md-sys-color-primary);
    position: relative;
    font-size: 1.3rem;
    line-height: 2.3rem;
}
h3{
  border-left:3.5px solid var(--md-sys-color-primary);
  padding-left: 5px;
  margin: 15px 0 10px 0;
  font-weight: lighter;
}
* {
    margin: 0; 
    box-sizing: border-box;
    -webkit-tap-highlight-color:transparent; 
    user-select: none;
  }
  body{
    font-family: 'Noto Sans JP', Arial;
    color:var(--md-sys-color-on-surface);
    background:var(--md-sys-color-surface-container-lowest);
  }
  p {
    margin: 10px 0;
}
a{
  color:var(--md-sys-color-primary);
  text-decoration: none;
  outline: none;
  position: relative;
}
a[disabled]{
  color: var(--md-sys-color-on-surface);
  opacity: 0.38;
}

body::-webkit-scrollbar{width: 11px;}
body::-webkit-scrollbar-track{background: var(--md-sys-color-surface-container-highest);}
body::-webkit-scrollbar-thumb{background-color: var(--md-sys-color-primary);border-radius: 5px;}
body::-webkit-scrollbar-thumb:hover {background-color: color-mix(in srgb, var(--md-sys-color-primary) 80%, white);}
body::-webkit-scrollbar-thumb:active {background-color: color-mix(in srgb, var(--md-sys-color-primary) 70%, white);}

  .LL211{
    color:#3cb371;
}

.SS211{
    color:#f4a460;
}
.K313{
    color:#ff4500;
}
.L313{
    color:#da70d6;
}
.W313{
    color:#1e90ff;   
}
.w-panto{
  text-decoration:underline double #1e90ff;
}
.T313{
    color:#6a5acd;
}
.V313{
    color:#800080;
}
.S313{
    color:#ff0000;
}
.F373{
    color:#ff0000;
}
.U315{
    color:#00008b
}
.W313,.S313,.SS211,.LL211,.T313,.V313,.L313,.U315{
    font-weight: bold;
}
.type {
  font-weight: bold;
}
.type-ex,.chien,.type_changed{
  color: red;
  font-weight: bold;
}

.type-sp{
  color: #d5aa00;
}
.type-ne{
  color:#ff8022;
}
.type-ra{
  color: #0082ba;
}
.type-li{
  color: #66bf3f;
}
.type-no{
  font-weight: normal;
}

md-outlined-select,md-outlined-text-field{
    width: 100%;
    z-index: 0 !important;
  }

  md-filled-card{
    margin: 10px auto;
    padding:8px 16px;
    width:90%;
    outline: none;
    .title{
      text-align: center;
    }
  
    &.bottom_content{
      max-width: 300px;
      width: 70%;
      padding: 10px 22px;
    }
  
    &.error{
      --md-filled-card-container-color:var(--md-sys-color-error-container); 
      color: var(--md-sys-color-on-error-container);
      
     
  
      &.small>.content{
        display: flex;
        align-items: center;
        gap: 8px;
  
        p{
          flex: 1;
        }
        md-icon{
          color:var(--md-sys-color-error);
        }
      }
  
    
    }
  
    &.primary{
      --md-filled-card-container-color:var(--md-sys-color-primary-container);
      color: var(--md-sys-color-on-primary-container);
    }
  }

  .button_label {
    margin-top: 10px !important;
    width: fit-content;
    margin: 0 auto;
}

md-ripple{
    --md-ripple-hover-opacity: 0.15;  
    --md-ripple-pressed-opacity: 0.30;
  }


  md-ripple.primary{
    --md-ripple-hover-color: var(--md-sys-color-primary);
    --md-ripple-pressed-color: var(--md-sys-color-primary);
  }
  a{
  color:var(--md-sys-color-primary);
  text-decoration: none;
  outline: none;
  position: relative;
}
@media(hover: hover) {
  a:hover{
    text-decoration: underline;
  }
}


html, body { height: 100%; }

.snackbar{ 
  margin-bottom: 20px !important;
}
@media (min-width: 600px) {
  .snackbar{ 
    margin-left: 20px !important;
  }
}
.container{
  margin: 0 4px;
  line-height: 1.8rem;
}
.button_center{
width: fit-content;
margin: 4px auto 16px; 
}
md-icon{
  font-variation-settings: 'FILL' 0;
}
md-icon[filled] {
  font-variation-settings: 'FILL' 1;
}
.keep_unyo{
  border-bottom: 4px solid red;
}
